@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import './variables.css';

* {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

body {
    color: var(--pure);
    background: var(--primary); 
}

header {
    background: linear-gradient(135deg, rgba(0,0,0,1),rgba(0,0,0,0.2)), url('../img/background.jpg');
    min-height: 100vh;
    background-size: cover;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--gray);
}

.nav-links{
    display: flex;
}
.nav-links.dropdown-item{
    position: relative;
}
.dropdown-item{
    margin-right: 15px;
    
    padding-bottom: 20px;

}
.nav-links .dropdown-item a{
    margin-left: 25px;

}
.nav-links .dropdown-item .dropdown-list{
    opacity: 0.9;
    display: none;
    position: absolute;
    margin-top: 20px;
    margin-left: 22.5px;
    min-width: 10rem;
    padding: 0.5rem 0;
    text-align: left;
    list-style: none;
    color: var(--dark);
    background-color: var(--pure);
    border-radius: 50px;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    font-size: 30px;
}

.nav-links .dropdown-item .dropdown-list li{
    list-style: none;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-weight: 400;
    cursor: pointer;
}

.nav-links .dropdown-item .dropdown-list li:hover{
    border-radius: 10%;
    color: var(--pure);
    background-color: #2a52be;
}

.nav-links .dropdown-item:hover .dropdown-list{
    display: block;
}

header nav .logo a img{
    max-width: 150px;
    max-height: 150px;
    margin-left: 30px;
}

header nav .nav-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav .nav-right a {
    text-decoration: none;
    color: var(--pure);
    margin-right: 30px;
    font-size: 20px;
    position: relative;
}

header nav .nav-right a:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -20px;
    width: 0;
    height: 2px;
    background: var(--pure);
    transition: width .3s ease-in-out;
}

header nav .nav-right a:hover:after {
    width: 70%;
}

header nav .search > div {
    background: var(--dark);
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 50px;
    margin-right: 30px;
}

header nav .search > div input {
    background: transparent;
    border: none;
    outline:none;
    font-size: 16px;
    color: #fff;
}

header nav .search > div img {
    padding-right: 16px;
}

header .home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.homeText{
    margin-left: 40px;
}

.homeText h1 span {
    font-size: 70px;
    color: white;
    text-shadow: 4px 4px 8px #2a52be;
    font-family: 'Oswald', sans-serif;
}

.homeText h1 {
    font-size: 30px;
    color: var(--mild);
}

.btn {
    margin-top: 20px;
    margin-right: 20px;
    padding: 10px 30px;
    border: 1px solid transparent;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    transition: all .5s ease-in-out;
    font-weight: bolder;
}

.btn-primary {
    color: var(--dark);
    background: var(--pure);
}

.btn-primary:hover {
    background: transparent;
    color: var(--pure);
    border-color: var(--pure);
}

.btn-secondary {
   background: transparent;
   color: var(--pure);
   border-color: var(--pure); 
}

.btn-secondary:hover {
    background: var(--pure);
    color: var(--dark);
}

.homeImg img {
    transform: rotate(20deg);
    animation: moveInSpace 12s ease-in-out infinite alternate;
}

@keyframes moveInSpace {
    50% {
       transform: translateY(100px) rotate(-30deg) scale(0.8); 
    }
}

